
body {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 12px;
	margin: 10px;
	}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	}

td, th {
	border: 1px solid #666;
	padding: 5px 10px;
	text-align: left;
	}

th {	
	background-color: #CCC;
	}

tr:first-child th, tr:first-child td {
	border-top-width: 2px;
	}

tr:last-child th, tr:last-child td {
	border-bottom-width: 2px;
	}

th:first-child, td:first-child {
	border-left-width: 2px;
	}

th:last-child, td:last-child {
	border-right-width: 2px;
	}

tr:first-child th:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	}

tr:first-child th:last-child {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	}

tr:last-child td:first-child {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	}

tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	}

.down {
	background-color: #ECC;
	}

.down td:first-child {
	color: #533;
	}

.up {
	background-color: #CCE;
	}

.up td:first-child {
	color: #335;
	}

.up-sharing {
	background-color: #CEC;
	}

.up-sharing td:first-child {
	color: #353;
	}
